 fieldset>* {
            display: block;
        }
        th {
            background-color: salmon;
            font-family: Arial, Verdana, sans-serif;
            color: blue;
            border: 1px solid gray;
            padding: 5px;
            empty-cells: show;
        }
        
        td {
            background-color: lightblue;
            border: 1px solid gray;
            padding: 5px;
            empty-cells: show;
        }
